body{
    margin:2px;
}

.error {
    color: #ff0000;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 97vh;
}

/* Borrowed from
https://github.com/angular-ui/ui-grid/issues/2129
*/
.ui-grid-row:nth-child(odd):hover .ui-grid-cell{background:lightblue}
.ui-grid-row:nth-child(even):hover .ui-grid-cell{background:lightblue}


/* Chapter 4 styles */
.datePicker {
    width:150px;
}
.completedDropDown {
    width:150px;
}
.taskCategoryDropDown {
    width:150px;
}

table{
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding:5px;
}
.alignMiddle {
    vertical-align: middle;
}
.alignBottom {
    vertical-align: bottom;
}
.border-top-left {
    border-left: solid 2px grey;
    border-top: solid 2px grey;
}
.border-top-right {
    border-right : solid 2px grey;
    border-top: solid 2px grey;
}
.border-top {
    border-top: solid 2px grey;
}
.border-bottom-right {
    border-bottom: solid 1px grey;
    border-right : solid 2px grey;
}
.border-bottom-left {
    border-bottom: solid 1px grey;
    border-left : solid 2px grey;
}
.border-bottom {
    border-bottom: solid 1px grey;
}


