<!-- Used for version 1 and 2
<button (click)="reverseState()" [appReverse]="reversedState">
  Reverse State
</button>-->

<!--- used for version 3 which add the new properties -->
<!--<button (click)="reverseState()" [appReverse]="reversedState" regularCSSClass="regular" reversedCSSClass="reversed">
  Reverse State
</button>-->

<!-- Sample 3 alternate using directive properties with an Angular expression:
<button (click)="reverseState()" [appReverse]="reversedState" [regularCSSClass]="'regular'" [reversedCSSClass]="'reversed'">
  Reverse State
</button>
-->


<!--- used for version 4; showing the event -->
<button (click)="reverseState()" [appReverse]="reversedState" regularCSSClass="regular" reversedCSSClass="reversed" (stateChange)="onStateChange($event)">
  Reverse State
</button>

<!-- Sample 5
<p [appReverse]="reversedState" regularCSSClass="regular" reversedCSSClass="reversed">
  The directive in a p!
</p>

<div [appReverse]="reversedState" regularCSSClass="regular" reversedCSSClass="reversed">
  The directive in a div!
</div>
-->

<p [appReverse]="reversedState" regularCSSClass="regular-red" reversedCSSClass="reversed-red">
  The directive in a p!
</p>

<div [appReverse]="reversedState" regularCSSClass="regular-blue" reversedCSSClass="reversed-blue">
  The directive in a div!
</div>
