
<table>
    <tr>
        <td class="border-top-left">Completed</td>
        <td class="border-top-right">Category</td>
        <td></td>
        <td class="border-top-left">Created After</td>
        <td class="border-top-right">Created Before</td>
        <td></td>
        <td  class="border-top-left">Scheduled After</td>
        <td class="border-top-right">Scheduled Before</td>
    <tr/>
    <tr>
        <td class="border-bottom-left">
            <select ng-model="taskModelWrapper.taskModel.taskFilter.completed"
                    ng-options="item.id as item.label for item in taskModelWrapper.taskModel.taskCompletedOptions"
                    class="completedDropDown">
            </select>
        </td>
        <td  class="border-bottom-right">
            <select ng-model="taskModelWrapper.taskModel.taskFilter.taskCategoryID"
                    ng-options="item.taskCategoryID as item.taskCategory for item in taskModelWrapper.taskModel.taskCategoriesForFilter"
                    class="taskCategoryDropDown">
            </select>
        </td>
        <td></td>
        <td class="border-bottom-left">
            <p class="input-group datePicker">
                <input type="text" class="form-control"
                       uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="taskModelWrapper.taskModel.taskFilter.startDate"
                       is-open="createdAfterDateProperties.opened"
                       datepicker-options="dateOptions"
                       close-text="Close"
                       />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="openDatePicker(createdAfterDateProperties)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </td>
        <td  class="border-bottom-right">
            <p class="input-group datePicker">
                <input type="text" class="form-control"
                       uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="taskModelWrapper.taskModel.taskFilter.endDate"
                       is-open="createdBeforeDateProperties.opened"
                       datepicker-options="dateOptions"
                       close-text="Close"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="openDatePicker(createdBeforeDateProperties)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </td>
        <td></td>
        <td class="border-bottom-left">
            <p class="input-group datePicker">
                <input type="text" class="form-control"
                       uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="taskModelWrapper.taskModel.taskFilter.scheduledStartDate"
                       is-open="scheduledAfterDateProperties.opened"
                       datepicker-options="dateOptions"
                       close-text="Close"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="openDatePicker(scheduledAfterDateProperties)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </td>
        <td  class="border-bottom-right">
            <p class="input-group datePicker">
                <input type="text" class="form-control"
                       uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="taskModelWrapper.taskModel.taskFilter.scheduledEndDate"
                       is-open="scheduledBeforeDateProperties.opened"
                       datepicker-options="dateOptions"
                       close-text="Close"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="openDatePicker(scheduledBeforeDateProperties)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </td>
        <td class="alignBottom">
            <input type="button" value="Filter" ng-click="onFilterRequest()"/>
        </td>

    </tr>

    </tr>
</table>
