<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td>Description</td>
            <td>
                <textarea ng-model="taskVO.description"></textarea>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select ng-model="taskVO.taskCategoryID"
                        ng-options="item.taskCategoryID as item.taskCategory for item in
                        taskModel.taskCategories"
                        class="taskCategoryDropDown">
                </select>
            </td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="onClose()">Cancel</button>
    <button class="btn btn-warning" type="button" ng-click="onSave()">Save</button>
</div>

