.taskFilterWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.taskFilterAlert {
    padding: .2rem 1.25rem;
}

.datePicker {
    width:175px;
}
.completedDropDown {
    width:150px;
}
.taskCategoryDropDown {
    width:150px;
}

.datePickerImage{
    width: 1.2rem;
    height: 1rem;
    cursor: pointer;
}

.alignBottom {
    vertical-align: bottom;
}

.border-top-left {
    border-left: solid 2px grey;
    border-top: solid 2px grey;
}
.border-top-right {
    border-right : solid 2px grey;
    border-top: solid 2px grey;
}
.border-bottom-right {
    border-bottom: solid 1px grey;
    border-right : solid 2px grey;
}
.border-bottom-left {
    border-bottom: solid 1px grey;
    border-left : solid 2px grey;
}
