.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.taskFilter{
    width:100%;
}

.mainScreenContainer{
    flex : 1;
    padding-top : 5px;
}

.height100 {
    height:100%
}
