<h1>Login View</h1>
<table>
    <tr>
        <td>Username</td>
        <td><input type="text" ng-model="userModel.user.username"/></td>
        <td class="error">{{usernameError}}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" ng-model="userModel.user.password"/></td>
        <td class="error">{{passwordError}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="Reset" ng-click="onReset()" />
            <input type="button" value="Login" ng-click="onLogin()" />
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <input type="button" value="Login as Tasker" ng-click="onLoginAsMe()" />
            <input type="button" value="Login as Creator" ng-click="onLoginAsWife()" />
        </td>
    </tr>

</table>