.taskFilterWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.datePickerImage {
    width: 1.2rem;
    height: 1rem;
    cursor: pointer;
}

.datePicker {
    width:175px;
}
.completedDropDown {
    width:150px;
}
.taskCategoryDropDown {
    width:150px;
}


.alignBottom {
    vertical-align: bottom;
}

.taskFilterAlert {
    padding: .2rem 1.25rem;
}