.taskSchedulerWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.border-top-left-bottom-right {
    border : solid 1px grey;
}

.datePickerImage {
    width: 1.2rem;
    height: 1rem;
    cursor: pointer;
}