.error {
    color: #ff0000;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 97vh;
}


/* Borrowed from
https://github.com/angular-ui/ui-grid/issues/2129
*/
.ui-grid-row:nth-child(odd):hover .ui-grid-cell{background:lightblue}
.ui-grid-row:nth-child(even):hover .ui-grid-cell{background:lightblue}