.taskFilter{
/*     height:22%;*/
     width:100%;
/*     min-height:100px;
     max-height:400px;*/
 }

.mainScreenContainer{
/*    height:calc(100% - 120px);
    width:100%;*/
    flex : 1;
    padding-top : 5px;
}

/* experiments w/ Flexbox
 This style stuff borrowed from this stack overflow post
 http://stackoverflow.com/a/26558049/133840
But all the rest of this stuff is mine
 */
.wrapper {
    display: flex;  /* use the flex model */
    /*    min-height: 100%;*/
    height: 100%;
    flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

.horizontal-layout-94{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:94%;
    /*    min-height:100%;*/
    height : 100%;
}
