<div class="taskGridWrapper">
    <div class="alert alert-danger  taskGridAlert" *ngIf="taskLoadError">
        <h2>
            {{taskLoadError}}
        </h2>
    </div>
    <div class="gridStyle">
        <ngx-datatable #taskGrid class="material gridStyle"
                       [headerHeight]="50"
                       [rows]="tasks"
                       [rowHeight]="50" [columnMode]="'force'" [scrollbarV]="'true'"
        >
            <!-- some experimentation w/ max width and minwidth here --->
            <ngx-datatable-column name="Completed"  ><!-- maxWidth="125" -->
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <input type="checkbox" [checked]="value" (click)="onCompletedCheckBoxChange(row)" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description"   ><!-- minWidth="250" width="300" -->
            </ngx-datatable-column>
            <ngx-datatable-column name="Category" prop="taskCategory"  ><!-- maxWidth="175" width="100" -->
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Created" prop="dateCreated"  ><!-- maxWidth="175" width="100" -->
                <ng-template let-value="value" ngx-datatable-cell-template>
                   {{value | date: 'shortDate'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Scheduled" prop="dateScheduled"  ><!--  maxWidth="175" width="100" -->
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'shortDate'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  ><!-- maxWidth="150" -->
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="onEditTask(row)" [hidden]="schedulerState">Edit Task</button>
                    <button (click)="onScheduleTaskRequest(row)" [hidden]="!schedulerState">+</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>