.error {
    color: #ff0000;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 92vh;
}

/* Borrowed from
https://github.com/angular-ui/ui-grid/issues/2129
*/
.ui-grid-row:nth-child(odd):hover .ui-grid-cell{background:lightblue}
.ui-grid-row:nth-child(even):hover .ui-grid-cell{background:lightblue}


/* Chapter 4 styles */
.datePicker {
    width:150px;
}
.completedDropDown {
    width:150px;
}
.taskCategoryDropDown {
    width:150px;
}

table{
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding:5px;
}
.alignMiddle {
    vertical-align: middle;
}
.alignBottom {
    vertical-align: bottom;
}
.border-top-left {
    border-left: solid 2px grey;
    border-top: solid 2px grey;
}
.border-top-right {
    border-right : solid 2px grey;
    border-top: solid 2px grey;
}
.border-top {
    border-top: solid 2px grey;
}
.border-bottom-right {
    border-bottom: solid 1px grey;
    border-right : solid 2px grey;
}
.border-bottom-left {
    border-bottom: solid 1px grey;
    border-left : solid 2px grey;
}
.border-bottom {
    border-bottom: solid 1px grey;
}

/* Chapter 6 styles */
html{
    height:99%;
    width:100%;
}
body{
    height:100%;
    width:100%;
    padding:5px;
}

.horizontal-layout-100x100{
    height:100%;
    width:100%;
}

.taskFilter{
    height:22%;
    width:100%;
    max-height:100px;
}
.mainScreenContainer{
    height:calc(100% - 100px);
    width:100%;
}

.horizontal-layout-94{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:94%;
    min-height:100%;
}

.horizontal-layout-40{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:40%;
    min-height:100%;
/*    height:100%; */
}

.horizontal-layout-4{
    display: inline-block;
    vertical-align: top;
    width:4%;
    height:100%;
}
.height100 {
    height:100%
}
.width100 {
    width:100%
}

/* borrowed from
http://stackoverflow.com/questions/23557104/ng-grid-height-in-100-of-parent-container
*/
.ui-grid {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.border-top-left-bottom-right {
    border : solid 1px grey;
}
