html{
    height:99%;
    width:100%;
}
body{
    height:100%;
    width:100%;
    padding:5px;
}


.error {
    color: #ff0000;
}


table{
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding:5px;
}


/* I don't think this is used anywhere or mentioned in the book text */
.horizontal-layout-100x100{
    height:100%;
    width:100%;
}

.border-top-left {
    border-left: solid 2px grey;
    border-top: solid 2px grey;
}
.border-top-right {
    border-right : solid 2px grey;
    border-top: solid 2px grey;
}
.border-bottom-right {
    border-bottom: solid 1px grey;
    border-right : solid 2px grey;
}
.border-bottom-left {
    border-bottom: solid 1px grey;
    border-left : solid 2px grey;
}


